flask
locust
lxml
matplotlib
numba
numpy
pillow
pytest
pyzbar
qrcode
requests
requests_cache
scipy
spectrum_utils
werkzeug
git+git://github.com/berlinguyinca/spectra-hash.git#egg=splash&subdirectory=python
