celery
celery_once
dash
dash-bootstrap-components
flask
flex
joblib
locust
lxml
matplotlib
numba
numpy
pillow
pytest
pyzbar
qrcode
redis
requests
requests_cache
scipy
spectrum_utils
werkzeug
git+https://github.com/berlinguyinca/spectra-hash.git#subdirectory=python
