(% extends "minimal.html" %)

(% block content %)
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <h2>Contributors</h2>
    </div>
    <div class="col-sm"></div>
</div>

<hr>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <div>
            Mingxun Wang
        </div>
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <div>
            Simon Rogers
        </div>
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <div>
            Wout Bittremieux
        </div>
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <div>
            Christopher Chen
        </div>
    </div>
    <div class="col-sm"></div>
</div>

(% endblock %)
