(% extends "minimal.html" %)

(% block content %)
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <h2>Data Privacy</h2>
    </div>
    <div class="col-sm"></div>
</div>

<hr>

*What data do we collect?*
Our Company collects the following data:

Personal identification information (Name, email address, phone number, etc.)
[Add any other data your company collects]
How do we collect your data?
You directly provide Our Company with most of the data we collect. We collect data and process data when you:

Register online or place an order for any of our products or services.
Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.
Use or view our website via your browser’s cookies.
[Add any other ways your company collects data]
Our Company may also receive your data indirectly from the following sources:

[Add any indirect source of data your company has]
How will we use your data?
Our Company collects your data so that we can:

Process your order and manage your account.
Email you with special offers on other products and services we think you might like.
[Add how else your company uses data]
If you agree, Our Company will share your data with our partner companies so that they may offer you their products and services.

[List organizations that will receive data]
When Our Company processes your order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.

How do we store your data?
Our Company securely stores your data at [enter the location and describe security precautions taken].

Our Company will keep your [enter type of data] for [enter time period]. Once this time period has expired, we will delete your data by [enter how you delete users’ data].

(% endblock %)
