(% extends "minimal.html" %)

(% block content %)
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <h2>Data Privacy</h2>
    </div>
    <div class="col-sm"></div>
</div>

<hr>

*What data do we collect?*

We collect the following data:

1. IP Addresses
1. Spectra and visualization configurations

*How will we use your data?*

We collects your data so that we can:

1. Track usage data to help with grant applications
1. Track errors to improve the service

We will not share individual results with anyone outside of UCSD but aggregates will be shared with grant review committees. 

How do we store your data?

We store data securely on our servers. 

(% endblock %)
