<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script>
$(document).ready(function() {
    $('.table').DataTable({
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]]
    });
} );
</script>

<div class="row">
    <div class="col-6 offset-3">
        <h3 class="text-center">Drawing Controls</h3>
        <hr>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Figure size</div>
            <div class="col-8 input-group">
                <input type="number" id="width" class="form-control" min="1" max="20" value="10" step="any">
                <div class="input-group-append">
                    <span class="input-group-text">"</span>
                </div>
                <span class="col-form-label">&nbsp;X&nbsp;</span>
                <input type="number" id="height" class="form-control" min="1" max="20" value="6" step="any">
                <div class="input-group-append">
                    <span class="input-group-text">"</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Mass range</div>
            <div class="col-8 input-group">
                <input type="number" id="mz_min" class="form-control" min="0" step="any">
                <div class="input-group-append">
                    <span class="input-group-text"><i>m/z</i></span>
                </div>
                <span class="col-form-label">&nbsp;&ndash;&nbsp;</span>
                <input type="number" id="mz_max" class="form-control" min="0" step="any">
                <div class="input-group-append">
                    <span class="input-group-text"><i>m/z</i></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Intensity range</div>
            <div class="col-8 input-group">
                <span class="col-form-label">Maximum intensity:&nbsp;</span>
                <input type="number" id="max_intensity" class="form-control" min="0" max="200" step="1">
                <div class="input-group-append">
                    <span class="input-group-text">&percnt;</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Grid</div>
            <div class="col-8">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="grid" checked="checked">
                    <label class="form-check-label col-form-label" for="grid">&nbsp;Display grid</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Peak labeling</div>
            <div class="col-8">
                (% for spectrum in peaks %)
                    (% set spectrum_loop = loop %)
                    <table id="peaks_((spectrum_loop.index - 1))" class="table">
                        <thead>
                            <tr class="align-self-center">
                                <th></th>
                                <th class="text-right">Mass (<i>m/z</i>)</th>
                                <th class="text-right">Intensity</th>
                            </tr>
                        </thead>
                        <tbody>
                            (% for peak in spectrum %)
                                <tr>
                                    <td></td>
                                    <td class="text-right">(( '{:.4f}'.format(peak[0]) ))</td>
                                    <td class="text-right">(( '{:.0%}'.format(peak[1]) ))</td>
                                </tr>
                            (% endfor %)
                        </tbody>
                    </table>
                (% endfor %)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Label precision</div>
            <div class="col-8 input-group">
                <span class="col-form-label">Decimal places:&nbsp;</span>
                <input type="number" id="annotate_precision" class="form-control" min="0" max="10" value="4" step="1">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 col-form-label font-weight-bold text-right">Label rotation</div>
            <div class="col-8 input-group">
                <input type="number" id="annotation_rotation" class="form-control" min="0" max="90" value="90" step="1">
                <div class="input-group-append">
                    <span class="input-group-text">&deg;</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 offset-5">
                <button class="btn btn-primary btn-block" onclick=updateFigure()>Update Figure</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getDrawingControls() {
        let annotate_peaks = [];
        for (let table_i = 0; table_i < document.getElementsByClassName("table").length; table_i++) {
            let selected_peaks = [];
            let table_peaks = $("#peaks_" + table_i).DataTable().rows({selected: true}).data();
            for (let i = 0; i < table_peaks.length; i++) {
                selected_peaks.push(parseFloat(table_peaks[i][1]));
            }
            annotate_peaks.push(selected_peaks);
        }
        return `&width=${$("#width").val()}` +
            `&height=${$("#height").val()}` +
            `&mz_min=${$("#mz_min").val()}` +
            `&mz_max=${$("#mz_max").val()}` +
            `&max_intensity=${$("#max_intensity").val()}` +
            `&grid=${$("#grid").prop("checked")}` +
            `&annotate_peaks=${JSON.stringify(annotate_peaks)}` +
            `&annotate_precision=${$("#annotate_precision").val()}` +
            `&annotation_rotation=${$("#annotation_rotation").val()}`;
    }
</script>
