(% extends "layout.html" %)

(% block content %)

<!-- This portion is for drag and drop files -->

<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<style>
    .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; margin: 20px}
    .dropzone .dz-message { font-weight: 400; }
    .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
    .container-fluid { min-height: 100%; height: 100%;}
</style>

<div>
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm text-center">
              <h2>Upload Files</h2>
          </div>
          <div class="col-sm"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>
                    Upload Files
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2" id=""></div>
            <div class="dropzone col-md-8" id="upload">
                <div class="dz-message">Drop files here!</div>
            </div>
            <div class="col-md-2" id=""></div>
        </div>

        <div id="app-4" class="container-fluid">
            <br>
            <h3 class="text-center">Upload Summary</h3>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in stats">
                        <td>{{stat.type}}</td>
                        <td>{{stat.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    validatedropzone = new Dropzone("#upload", { url: "upload", maxFilesize: 200, parallelUploads:1});
    validatedropzone.on("success", function(file, response) {
        response_json = JSON.parse(response)
        app4._data.stats = response_json["stats"]
    });
    validatedropzone.on("error", function(file) {
    });
    var app4 = new Vue({
        el: '#app-4',
        methods: {
        },
        data: {
            stats: []
        }
    })
</script>


(% endblock %)
