<!DOCTYPE html>
<html>

<head>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.selection.js"></script>
    
    <script type="text/javascript" src="/static/js/specview.js"></script>
    <script type="text/javascript" src="/static/js/peptide.js"></script>
    <script type="text/javascript" src="/static/js/aminoacid.js"></script>
    <script type="text/javascript" src="/static/js/ion.js"></script>
    
    
    <link REL="stylesheet" TYPE="text/css" HREF="/static/css/lorikeet.css">

</head>

<body>
   
    <div id="content">
        (% block content %)(% endblock %)
    </div>


</body>

</html>
