(% extends "minimal.html" %)

(% block content %)

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>Spectrum Values</h2>
            </div>
            <div class="col-sm"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                Universal Spectrum Identifier
                <br>
                ((identifier))
                <br>
                <a href="/json/?usi=((identifier))">Download peaks as json</a>
                <br>
                <a href="/csv/?usi=((identifier))">Download peaks as csv</a>
            </div>
            <div class="col-sm"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                    <div id="lorikeet"></div>
            </div>
            <div class="col-sm"></div>
        </div>
    
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                Spectrum SVG
            </div>
            <div class="col-sm"></div>
        </div>
        <hr>


        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <img src="/svg/?usi=((identifier))">
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm text-center">
                    QR Code
                </div>
                <div class="col-sm"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <img src="/qrcode/?usi=((identifier))"></img>
            </div>
            <div class="col-sm"></div>
        </div>

</div>



<script type="text/javascript">

    $(document).ready(function () {
    
        /* render the spectrum with the given options */
        $("#lorikeet").specview({   
                                    peaks: peaks,
                                    showIonTable: false,
                                    showViewingOptions: true,
                                    showOptionsTable: false,
                                    showSequenceInfo: false,
                                    labelImmoniumIons: false,
                                    labelPrecursorPeak: false,
                                });	
    
    });
    
    var peaks = (( peaks ));
</script>

(% endblock %)
