(% extends "minimal.html" %)

(% block content %)

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Spectrum Values</h2>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-11 my-auto">
            <div class="row">
                <div class="col-4 font-weight-bold text-right">Universal Spectrum Identifier</div>
                <div class="col-8">((usi))</div>
            </div>
            <div class="row mt-2">
                <div class="col-2 offset-2">
                    <a class="btn btn-primary" id="download_json" href="/json/?usi=((usi))">
                        Download as JSON
                    </a>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" id="download_csv" href="/csv/?usi=((usi))">
                        Download as CSV
                    </a>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" id="download_svg" href="/svg/?usi=((usi))" download="((usi)).svg">
                        Download as SVG
                    </a>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" id="download_png" href="/png/?usi=((usi))" download="((usi)).png">
                        Download as PNG
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1 my-auto">
            <img class="mx-auto" src="/qrcode/?usi=((usi))" alt="qr"/>
        </div>
    </div>

    <div class="row">
        <img class="mx-auto" id="render_spectrum" src="/svg/?usi=((usi))" alt="((usi))">
    </div>

    <div class="row">
        <div class="col-6 offset-3">
            <h3 class="text-center">Drawing Controls</h3>
            <form>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Figure size</div>
                    <div class="col-8 input-group">
                        <input type="number" id="width" class="form-control" min="1" max="20" value="10" step="any">
                        <div class="input-group-append">
                            <span class="input-group-text">"</span>
                        </div>
                        <span class="col-form-label">&nbsp;X&nbsp;</span>
                        <input type="number" id="height" class="form-control" min="1" max="20" value="6" step="any">
                        <div class="input-group-append">
                            <span class="input-group-text">"</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Mass range</div>
                    <div class="col-8 input-group">
                        <input type="number" id="mz_min" class="form-control" min="0" step="any">
                        <div class="input-group-append">
                            <span class="input-group-text"><i>m/z</i></span>
                        </div>
                        <span class="col-form-label">&nbsp;&ndash;&nbsp;</span>
                        <input type="number" id="mz_max" class="form-control" min="0" step="any">
                        <div class="input-group-append">
                            <span class="input-group-text"><i>m/z</i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Intensity range</div>
                    <div class="col-8 input-group">
                        <span class="col-form-label">Maximum intensity:&nbsp;</span>
                        <input type="number" id="max_intensity" class="form-control" min="0" max="200" step="1">
                        <div class="input-group-append">
                            <span class="input-group-text">&percnt;</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Grid</div>
                    <div class="col-8">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="grid" checked="checked">
                            <label class="form-check-label col-form-label" for="grid">&nbsp;Display grid</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Peak labeling</div>
                    <div class="col-8">
                        <div class="form-inline input-group">
                            <input type="checkbox" class="form-check-input" id="annotate_peaks" checked="checked">
                            <label class="form-check-label col-form-label" for="annotate_threshold">Minimum intensity:&nbsp;</label>
                            <input type="number" id="annotate_threshold" class="form-control" min="0" max="100" value="5" step="1">
                            <div class="input-group-append">
                                <span class="input-group-text">&percnt;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Label precision</div>
                    <div class="col-8 input-group">
                        <span class="col-form-label">Decimal places:&nbsp;</span>
                        <input type="number" id="annotate_precision" class="form-control" min="0" max="10" value="4" step="1">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-form-label font-weight-bold text-right">Label rotation</div>
                    <div class="col-8 input-group">
                        <input type="number" id="annotation_rotation" class="form-control" min="0" max="90" value="90" step="1">
                        <div class="input-group-append">
                            <span class="input-group-text">&deg;</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2 offset-5">
                        <button class="btn btn-primary" onclick=updateFigure()>Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function updateFigure() {
        let draw_parameters = `&width=${$("#width").val()}` +
                              `&height=${$("#height").val()}` +
                              `&mz_min=${$("#mz_min").val()}` +
                              `&mz_max=${$("#mz_max").val()}` +
                              `&max_intensity=${$("#max_intensity").val()}` +
                              `&grid=${$("#grid").attr("checked")}` +
                              `&annotate_peaks=${$("#annotate_peaks").attr("checked")}` +
                              `&annotate_threshold=${$("#annotate_threshold").val()}` +
                              `&annotate_precision=${$("#annotate_precision").val()}` +
                              `&annotation_rotation=${$("#annotation_rotation").val()}`;
        let svg_url = "/svg/?usi=((usi))";
        $("#render_spectrum")[0].src = svg_url + draw_parameters;
        $("#download_svg")[0].href = svg_url + draw_parameters;
        $("#download_png")[0].href = "/png/?usi=((usi))" + draw_parameters;
    }
</script>

(% endblock %)
